- user = user_signed_in?
.full-cover
.base
.row
  .col-xs-12.col-sm-3
    .affix.front.menu
      %br
      - if user
        = link_to "Create New Post", new_blog_post_path
      %h2.center.white Recent Posts
      %ul
        - @posts.each do |p|
          %li
            %a.truncate{href: "##{p.title}"} 
              = p.title
  .col-xs-12.col-sm-8
    - @posts.each do |p|
      .panel.panel-default{ id: "#{p.title}" }
        .panel-heading
          .panel-title
            %h3
              = p.title
        .panel-body
          %p 
            = p.content.html_safe
        - if user
          .panel-footer
            %a.btn.btn-default{ href: edit_blog_post_path(p) } Edit
            = link_to 'Delete', blog_post_path(p), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'btn btn-danger'
