%section#main{data: {type: 'background', speed: '10'}}
  .cover.bcg.parallax{'gumby-parallax' => '0.5'}
    .logo-wrapper
      = image_tag '3m_dealer.png', class: 'dealer-logo'
  .scroll-icon.text-center.pointer.white.col-sm-12.hidden-xs.hidden-sm
    %h4 Scroll To Learn More
    = fa_icon 'chevron-circle-down 3x', class: 'white'
  .col-xs-12.text-center
    .text-wrapper.text-block-1
      %h2 Your trusted
  .col-xs-12.text-center
    .text-wrapper.text-block-2
      %h2 residential & commercial
  .col-xs-12.text-center
    .text-wrapper.text-block-3
      %h2 window tinting professionals
%section#icons{data: {type: 'background', speed: '10'}}
  .icon-wrapper.bcg
    .text-center.scroll-to-table.pointer.hide.hidden-xs.hidden-sm
      = fa_icon 'chevron-circle-down 3x', class: 'white pointer table-scroll-icon'
    .col-xs-12.col-md-3.img-icon
      .col-xs-12
        .col-xs-12.text-center
          %h3.white Savings
        .col-xs-12.text-center.about-icon
          = fa_icon 'dollar 5x', class: 'white pointer'
        .col-xs-12.white.hide.about-text.pointer
          %ul
            %li Lower energy costs
            %li Protect furnishings
            %li Protect glass
    .col-xs-12.col-md-3.img-icon
      .col-xs-12
        .col-xs-12.text-center
          %h3.white Conservation
        .col-xs-12.text-center.about-icon
          = fa_icon 'lightbulb-o 5x', class: 'white pointer'
        .col-xs-12.white.hide.about-text.pointer
          %ul
            %li Lower energy costs
            %li Protect furnishings
            %li Protect glass
    .col-xs-12.col-md-3.img-icon
      .col-xs-12
        .col-xs-12.text-center
          %h3.white Protection
        .col-xs-12.text-center.about-icon
          = fa_icon 'sun-o 5x', class: 'white pointer'
        .col-xs-12.white.hide.about-text.pointer
          %ul
            %li Lower energy costs
            %li Protect furnishings
            %li Protect glass
    .col-xs-12.col-md-3.img-icon
      .col-xs-12
        .col-xs-12.text-center
          %h3.white Privacy
        .col-xs-12.text-center.about-icon
          = fa_icon 'user-secret 5x', class: 'white pointer'
        .col-xs-12.white.hide.about-text.pointer
          %ul
            %li Lower energy costs
            %li Protect furnishings
            %li Protect glass
%section#product{data: {type: 'background', speed: '10'}}
  .product-wrapper.bcg
    .col-xs-12.product-table
      .scroll-to-difference.pointer.text-center.hide.hidden-xs.hidden-sm
        = fa_icon 'chevron-circle-down 3x', class: 'pointer'
      %table#product_table.table.table-striped.table-hover
        .text-center
          %legend Window Film Benifits
        %thead
          %th Benefit
          %th Window Film
          %th 3M Window Film
          %th 3M Safefty & Security Film
        %tbody
          %tr
            %td Stylish Look
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Block harmful UV rays
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Reduce Heat
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Save Energy
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Privacy
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Reduce Glare
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Safety
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td High Heat Rejection
            %td
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Reduce Fading
            %td
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Lower interior / exterior reflectivity
            %td
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Comprehensive 3M warranty
            %td
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Enhance views and overall beauty
            %td
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Superior scratch resistant coating
            %td
            %td
              = fa_icon 'check', class: 'green'
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td 3M pattented microlayer technology
            %td
            %td
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Superior strength and tear resistence
            %td
            %td
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Protection from hurricanes, blasts, and earthquakes
            %td
            %td
            %td
              = fa_icon 'check', class: 'green'
          %tr
            %td Meets Safety Glazing Standard CPSC 16 CFR
            %td
            %td
            %td
              = fa_icon 'check', class: 'green'
%section#difference{data: {type: 'background', speed: '10'}}
  .about-3m
    .text-center
      .scroll-top.pointer.hidden-xs.hidden-sm
        %br
        = fa_icon 'chevron-circle-up 3x', class: 'white pointer'
    %h4 Window films do more than offer a wonderfull view. Window films can be a shield for better safety, security, and accident prevention. Window films can improve the light brought into your home. Window films can protect your skin from dangerous UV rays that cause cancer. Window films can protect the interior of your home by reducing fading by 85%.
    %h4 3M™ Window films do all of that and more. They reduce the reflectivity of normal glass and other window films. They do not distort the colors you see through them. 3M Window films are the oldest window films in production, and they have always been the best.
    %h4 If you are a homeowner, interior designer, contractor, or facilities manager you should make an investment in 3M window films that will protect and improve your interiors.
    %h4 Clear Innovations located in Washington and Oregon is an authorized 3M window film dealer. Let us help you protect your investment.
%section#bottom{data: {type: 'background', speed: '10'}}
  .footer-section
    .text-center.bottom-brand
      %h1.hidden-xs.hidden-sm Clear Innovations LLC - Window Films
      %h6.visible-xs.visible-xs.white Clear Innovations LLC - Window Films
    .col-xs-12.col-md-4
      = image_tag 'logo.svg', class: 'blur'
    .col-xs-12.col-md-4
      %br
      .text-center
        %h4 Sitemap
      .col-xs-12.text-center
        = link_to 'Home', '/', class: 'white'
      .col-xs-12.text-center
        = link_to 'About', about_path, class: 'white'
      .col-xs-12.text-center
        = link_to 'Products', products_path, class: 'white'
      .col-xs-12.text-center
        = link_to 'Gallery', gallery_path, class: 'white'
      .col-xs-12.text-center
        = link_to 'Contact', '/', class: 'white'
    .col-xs-12.col-md-4
      %br
      %h4 Location
      %address
        14200 SE McLoughlin Blvd, #K
        %br
        Milwaukie, OR 97267
        %br
        %br
        = fa_icon 'phone', text: 'Oregon: 503.593.9292'
        %br
        = fa_icon 'phone', text: 'Washington: 360.624.5585'
        %br
        = fa_icon 'envelope', text: 'info@clearinnovations.net'
