.navbar.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#nav-items", 'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: '/'}
        #logo.pull-left.white
          = image_tag 'logo.svg'
      .text-center.logo-help
        %h6.white Licensed & Bonded
    .collapse.navbar-collapse#nav-items.navbar-right
      %ul.nav.navbar-nav
        %li
          %a.nav-item{href: 'tel:15035939292'}
            = fa_icon 'phone', text: '(503) 593-9292'
        %li
          = link_to("Home", :root, class: 'nav-item')
        %li
          = link_to("About", about_path, class: 'nav-item')
        %li
          = link_to("Products", products_path, class: 'nav-item')
        %li
          %a.nav-item.mail{href: '#'}
            = fa_icon 'envelope lg'
        %li
          = link_to 'http://facebook.com', class: 'nav-item', target: '_balnk' do
            = fa_icon 'facebook-square lg'
        -# %li.dropdown
        -#   %a.dropdown-toggle{data: {toggle: 'dropdown'}, href: '#'}
        -#     = fa_icon 'gears lg', class: 'white'
        -#   %ul.dropdown-menu
        -#     %li
        -#       - if user_signed_in?
        -#         = link_to 'Logout', destroy_user_session_path, method: :delete
        -#       - else
        -#         = link_to 'Sign In', new_user_session_path
